

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
.add-button{
  font-size: .9rem;
  height: 25px;
  width: 55px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  background-color: hsl(125, 47%, 54%);
}

input[type="text"]{
  font-size: 1rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color:black
}

ul{
  padding:0;
  height: 20px; 
  width: 120pxS
}

li{
  font-size: 1.5rem;
  /*font-weight: bold;*/
  padding: 15px;
  background-color: aliceblue;
  border: 3px solid hsla(0, 0%, 85%, 075);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 15px;
  justify-content: center;
  width: 600px
}
.Items{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 10%
}
