@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body {
  background-color: #FAF3DD;
}

h1{
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin-bottom: 8px;
    margin-left: 6px;

  }
}

.task-input{
  min-height: 70px;
  max-width: 370px;
  background-color: none;
  display:flex;
  align-items: center;
  padding-left: 6px;
  margin-bottom: none;
  flex-wrap: wrap;
  padding-bottom: 3px;

}

.add-button{
  font-size: .9rem;
  height: 25px;
  max-width: 75px;
  width: 15%;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  background-color: hsl(165, 96%, 21%);
  margin-left: 2px;
  margin-right: 2px;
}

.search-Btn{
  color: #FAF3DD;
  background-color: rgba(39, 102, 142, 0.752);
  border-radius: 15px;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  width: 16%;
}

.toggleSearch{
  border-radius: 10px;
  border: none;
}

.cancle-btn{
  background-color: orange;
  border-radius: 10px;
  border: none;
}

input[type="text"]{
  font-size: 1rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 20px;
  color:black;
  height: 10px;
  display: flex;
  width: 60%;
}
.input-wrappers{
  height: 43px;
  max-width: 370px;
  background-color: rgb(3, 183, 111);
  border-radius: 40px;
  display:flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 8px;
  margin-bottom: 5px;
  flex-wrap: nowrap;
  margin-top: 10px;

}

.error-message{
  margin-top: 0px;
  margin-left: 15px;
  color: rgb(143, 6, 6);
 
}

.item-container{
  display: flex;
  background-color: #1E293B;
  flex-direction: column;
  width: 600px;
  max-width: 95%;
  margin-top: 0px;
  padding-left: 12px;
  padding-right: 10px;
  padding-top: 8px;
  border-radius: 25px;
  align-items: flex-start;
  min-height: 20px;
  justify-content: flex-start;
}

.to-do-item{
  font-size: 1.3rem;
  /*font-weight: bold;*/
  padding: 3px;
  padding-left: 7px;
  background-color: #38BDF8;
  border: 1px solid hsla(0, 0%, 85%, 075);
  border-radius: 25px;
  justify-content: space-between;
  min-height: 20px;
  height: auto;
  min-width: 5px;
  max-width: 97%;
  display: flex;
  flex-direction: row;
}

.delete-button{
  background-color: rgb(104, 0, 0);
  border-radius: 10px;
  margin-right: 4px;
  margin-left: 6px;
  border-width: 0px;
  height: 16px;
  width: 16px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-down{
  margin-right: 2px;
  margin-left:4px;
  margin-right: 4px;
  background-color: #38BDF8;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin-top: 2px;
}
.move-down-emoji{
  font-size: 19px;
}
.move-up{
  margin-right: 2px;
  margin-left: 10px;
  margin-top: 2px;
  background-color: #38BDF8;
  border: none;
  font-size: 40 px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.move-up-emoji{
  font-size: 19px;
}

.li-wrapper{
  display: flex;
  min-width: 10px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
  align-self: flex-start;
}

  
.item-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: none;
  padding-left:none;
  min-height: 65px;
  align-items: flex-end;
  min-width: 180px;
  max-width: 100%;
  margin-bottom: 3px;
  justify-content: center;
}

.task-times{
  display: flex;
  color: #FAF3DD;
  font-size: 13px;
  align-items: center;
  align-self: flex-start;
  min-width: 188px;
  height: 20px;
  margin-left: 8px;
  flex-wrap: nowrap;
}

.item-actions{
  display: flex;
  flex-wrap: nowrap;
}

.group-item-row{
  min-height: 100%;
  width: 93%;
  margin-bottom: 5px;
  background: linear-gradient( to bottom, lightgreen 50%, transparent 100%);
  border-radius: 13px;
  border-width: 1px 1px 0px 1px;
  display: flex;
  justify-content: left;
  padding-left: 13px;
}
.group-item-grid{
  height: 100%;
  width: 93%;
  margin-bottom: 5px;
  background: linear-gradient( to bottom, lightgreen 50%, transparent 100%);
  border-radius: 13px;
  border-width: 1px 1px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper{
  /* background-color: #38BDF8; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 500px;
  min-height: 130px;
}
.group-input{
  display: flex;
  flex-direction:row;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
}
.enter-group{
  max-width: 250px;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 20px;
  color:black;
  height: 10px;
  display: flex;
}
.individual-grid-wrapper{
  /* background-color: #1E293B; */
  position: relative;
  height: 87%;
  display: flex;
  flex-direction: row;
  width: 99%;
  /* margin-bottom: 6px; */
  
  .delete-button{
    position:absolute;
    top: -6px;
    right: -4px;
    opacity: 0;
    pointer-events: none;
  }

  &:hover .delete-button{
    opacity: 1;
    pointer-events: auto;
  }
}
.create-group-grid{
  min-height: 100%;
  width: 90%;
  margin-bottom: 5px;
  background: linear-gradient( to bottom, lightgreen 65%, transparent 100%);
  border-radius: 13px;
  border-width: 1px 1px 0px 1px;
}
.individual-row-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 40px;
  .delete-button{
    opacity: 0;
    pointer-events: none;
  }

  &:hover .delete-button{
    opacity: 1;
    pointer-events: auto;
  }
}
.row-wrapper{
  display: flex;
  flex-direction: column;
  min-height: auto;
  max-height: fit-content;
  max-width: 600px;
}
.home-header{
  margin-bottom: 9px;
}
header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px
}
.create-group-row{
  min-height: 100%;
  width: 170px;
  margin-bottom: 5px;
  background: linear-gradient( to bottom, lightgreen 65%, transparent 100%);
  border-radius: 13px;
  border-bottom-width: 0px;
  border-width: 1px 1px 0px 1px;
}
.popup{
  display: flex;
  align-items: center;
  min-height: 115px;
  min-width: 100%;
  margin: -15px;
  background-color: #FAF3DD;
}
.dialog-box{
  border-radius: 13px;
  background-color: #FAF3DD;
}
.display-btn{
  font-size: 23px;
  margin-right: 6px;
  border-width: 1px;
  border-radius: 10px;
}
.progress-bar{
  position:relative;
  max-width: 300px;
  height: 12px;
  display:flex;
  justify-content: center;
  .progress-text{
    position:absolute;
    top: -14px;
    font-size: 13px;
  }
}
.progress-wrapper-grid{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  max-height: 150px;

  .progress-bar{
  position:relative;
  left: -8px;
  top: -11px;}
}
.progress-wrapper-row{
  position:relative;
  .progress-bar{
    min-width: 90%;
    position:relative;
    top: -13px;
    right: 30px;
    margin-left: 7px;
  }
}
.empty-state,.empty-tasks{
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
  max-height: auto;
  font-family: 'Nunito', sans-serif;
  h2{
    color: #8B9B72;
    margin-bottom: 0px;
  }
  p{
    text-align: center;
    color: #8B9B72;
  }
}
.empty-group-img{
  max-height: 370px;
  max-width: 370px;
  mask-image: radial-gradient(
    ellipse,
    black 60%,
    transparent 75%
  );
}
.empty-group-btn{
  height: 35px;
  width:auto;
  border-radius: 8px;
  background-color: #8B9B72;
  border-width: 0px;
  color: #FAF3DD;
}
.to-do-header{
  margin-bottom: -10px;
}
.to-do-name{
  margin-left: 10px;
  margin-bottom: 8px;
}

.empty-task-img{
  max-height: 370px;
  max-width: 370px;
  mask-image: radial-gradient(
    ellipse,
    black 60%,
    transparent 78%
  );
}