

h1{
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

.add-button{
  font-size: .9rem;
  height: 25px;
  width: 55px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  background-color: hsl(165, 96%, 21%);
}

input[type="text"]{
  font-size: 1rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 20px;
  color:black;
  height: 10px;
}

li{
  font-size: 1.5rem;
  /*font-weight: bold;*/
  padding: 15px;
  background-color: #38BDF8;
  border: 3px solid hsla(0, 0%, 85%, 075);
  margin-bottom: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  height: 6px;
  width: 95%;
  display: flex;
  align-self: center;

}

.item-container{
  display: flex;
  background-color: #1E293B;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
  margin-top: 15px auto;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 8px;
  border-radius: 25px;
  align-items: flex-start;
  min-height: 20px;
  justify-content: flex-start;
}
.task-input{
  height: 45px;
  width: 350px;
  background-color: rgb(3, 183, 111);
  border-radius: 40px;
  display:flex;
  align-items: center;
  padding-left: 6px;
}

.delete-button{
  background-color: rgb(104, 0, 0);
  border-radius: 8px;
}
body {
  background-color:rgb(235, 248, 164)
}
  